* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border: 4px solid black;
  border-radius: 16px;
  padding: 1em;
  display: flex;
  align-items: center;
  column-gap: 6em;
}

.brand {
  display: flex;
  column-gap: 1em;
  align-items: center;
}

.Logo {
  width: 70px;
  height: 70px;
}

.brand h1 {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.cart {
  width: 40px;
  height: 40px;
}

.product {
  border: 4px solid black;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.product-img {
  width: 240px;
  height: 240px;
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 16px;
  justify-content: space-between;
}

.actions img {
  width: 32px;
  height: 32px;
}

.prix {
  color: rgb(116, 114, 64);
  font-size: 20px;
}

.ajouter {
  padding: 8px 16px;
  background: white;
  border-radius: 6px;
}
